@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background: #f2f2f2;
}

.container,
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    width: 100%;
    height: 65vh;
}

.button {
    width: 30%;
    height: 50vh;
    background: #f2f2f2;
    border-radius: 11px;
    text-decoration: none;
    color: #026274;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    box-shadow: inset 0 0 15px rgba(66, 66, 66, 0),
        inset 0 0 20px rgba(255, 255, 255, 0),
        7px 7px 15px rgba(58, 58, 58, 0.15), -7px -7px 20px white,
        inset 0px 0px 4px rgba(255, 255, 255, 0.2);
    transition: box-shadow 399ms ease-in-out;
}

.button:hover {
    box-shadow: inset 7px 7px 15px rgba(66, 66, 66, 0.15),
        inset -7px -7px 20px white, 0px 0px 4px rgba(255, 255, 255, 0.2);
    color: #676767;
}

.AboutMe {
    position: relative;
    padding: 20px;
    background: #e0e0e0;
    border-radius: 20px;
    margin-top: 20px;
}

.textContainer {
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.button-garmentik {
    width: 200px;
    height: 50px;
    background-color: rgb(1, 146, 146);
    border: none;
    border-radius: 2px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.button-webdev {
    width: 200px;
    height: 50px;
    background-color: rgb(1, 146, 146);
    border: none;
    border-radius: 2px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0 10px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: rgb(0, 120, 120);
    transform: scale(1.05);
}

button:active {
    background-color: rgb(0, 100, 100);
    transform: scale(1.02);
}

.button-back {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    color: #0b0b0b;
    cursor: pointer;
    font-size: 24px;
    transition: color 0.3s, transform 0.3s;
}

.button-back:hover {
    color: #0b0b0b; /* Maintain original color */
    transform: none; /* Remove scale effect */
}

.AboutMeText,
.ISpeakText,
.CertificationText {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    text-shadow: 2px 2px 5px #b0b0b0, -2px -2px 5px #ffffff;
    transition: color 0.3s ease;
}

.AboutMe:hover .AboutMeText,
.AboutMe:hover .ISpeakText,
.AboutMe:hover .CertificationText {
    color: #444;
    text-shadow: 2px 2px 5px #b0b0b0, -2px -2px 5px #ffffff;
}

.AboutMeText:before,
.ISpeakText:before,
.CertificationText:before {
    color: #444;
    font-weight: bold;
}
