* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ededed;
    font-family: 'Fira Code', monospace;
}

.layout_wrapper {
    width: 100%;
    z-index: 2;
    height: 100%;
    border: solid 20px #fff;
    padding: 20px;
    position: relative;
}

/* Styles for mobile devices */
@media (max-width: 600px) {
    .layout_wrapper {
        border: solid 10px #fff;
        padding: 10px;
    }

    .layout_wrapper .profile {
        font-size: 14px;
        top: 10px;
        transform: translateY(0);
    }

    .layout_wrapper .pen {
        font-size: 14px;
        top: 40px;
        transform: translateY(0);
    }

    .layout_wrapper .made {
        font-size: 10px;
        bottom: 10px;
        transform: translateY(0);
    }
}

/* Styles for larger devices */
@media (min-width: 601px) {
    .layout_wrapper .profile,
    .layout_wrapper .pen {
        position: static;
        margin-bottom: 10px;
    }

    .layout_wrapper .made {
        position: static;
        margin-top: 20px;
    }
}

.layout_wrapper a,
.layout_wrapper p {
    font-weight: 500;
    color: #101010;
}

.layout_wrapper a {
    text-decoration: none;
}

.layout_wrapper .profile {
    font-size: 16px;
}

.layout_wrapper .pen {
    line-height: 1em;
    font-size: 16px;
}

.layout_wrapper .made {
    font-size: 12px;
    line-height: 1em;
    color: #b9b8b8;
}
