.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem 2rem;
  background-color: #f0f0f0;
  transition: all 0.3s ease;
}

.navbar.scrolled {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 0.7rem 2rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.logo-text:hover {
  transform: translateY(-2px);
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  color: #555;
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
  font-family: "Cascadia Code", monospace;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #008080;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-link:hover::after,
.active-link::after {
  width: 80%;
}

.active-link {
  color: #008080;
  font-weight: 600;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #555;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Mobile menu styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-menu {
    position: fixed;
    top: 80px;
    right: -100%;
    flex-direction: column;
    width: 80%;
    max-width: 300px;
    height: calc(100vh - 80px);
    background-color: #f0f0f0;
    padding: 2rem;
    transition: all 0.5s ease;
    gap: 1.5rem;
    box-shadow: -8px 0 16px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    right: 0;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }

  .nav-link {
    width: 100%;
    text-align: left;
    padding: 1rem;
    border-radius: 10px;
  }

  .active .nav-link {
    background: #e6e6e6;
    box-shadow: inset 3px 3px 6px #d1d1d1, inset -3px -3px 6px #ffffff;
  }
}

