/* Neo.css */

.neo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin-top: 30px;
}

.neo-card {
  background: #e0e0e0;
  border-radius: 10px;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
  padding: 40px;
  text-align: center;
}

.neo-card h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.neo-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  background: #e0e0e0;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.neo-button:hover {
  box-shadow: inset 5px 5px 10px #bebebe, inset -5px -5px 10px #ffffff;
}
