.whoami-section {
  padding: 2rem 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.whoami-section.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.section-header {
  text-align: center;
  margin-bottom: 3rem;
}

.section-header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.underline {
  height: 4px;
  width: 100px;
  background-color: #555;
  margin: 0 auto;
  border-radius: 2px;
}

.designation {
  font-size: 0.9rem;
  color: #2E2E2E;
  text-align: center;
}

.garmentik-link {
  color: #008A8A;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
}

.garmentik-link:hover {
  color: #000;
}